
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* font-family: 'Quicksand', sans-serif; */
/* body {
    background: #5CA3DC;
} */
article {
    border-radius: 10px !important;
    font-family: 'Quicksand', sans-serif;
}
article img {
    border-radius: 10px;
}

header {
    width: 100%;
    height: 100vh;
    background-image:
      linear-gradient(to bottom, rgba(86, 222, 235, 0.15), rgba(50, 144, 237, 0.715)),
      url(/images/african-american-man-using-laptop-entertainment.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Quicksand', sans-serif;
}
.sommes {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    color: #fff;
}
.sommes h1{
    font-size: 50px !important;
}
@media (max-width: 425px) {
    .sommes h1{
        font-size: 25px !important;
    }
}