body{
    background-image: url(images/bbburst.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
:root{
    
}
.input{
    background-color: transparent;
    width: 50%;
  
}
::placeholder{
    color: #fff;
}
.container-fluid{
    background-color: rgb(78, 90, 56);
    color: #fff;
    height: 100vh;
    border-radius: 15px;

}
input{
    border-color: #CB8AFF;   
}
.btn{
    border-color: #541b83;
    color: #fff;
}
.btn-primary{
    
}
a{
   color: #fff;
   cursor: pointer;
}
span{
    cursor: pointer;
    padding-inline-start: 1rem;
}
svg{
    width: 1.5rem;
    height: 1.5rem;
}
@media screen and (max-width:700px) {
    .input{
        background-color: transparent;
        width: 20rem;
      
    }
}
.input-log{
    outline: none !important;
    border: 1px solid #fff;
    color: black;
    width: 80%;
    background-color: white;
}
.input-log::placeholder{
 
    color: black;
    
}
.log{
    color: #0E6EFD; 
    width: 40%;
    border: 1px solid #fff;
    background-color: #fff;
}
.log:hover{
    color: #fff; 
    border: 1px solid #fff;
    background-color: #10499f;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.navBar img{
    max-width: 20rem;
}
.div-log{
    background-color: #549ED5;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
@media (max-width:320px) {
    .navBar img{
        max-width: 12rem;
    } 
    .input-log{
        width: 95%;
    }
    .log{
        width: 60%;
    }
    }
